/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .titlepage h2::after {
        width: 58%;
    }
    .about-box .titlepage h2::after {
        width: 52%;
        right: -221px;
    }
    .Nursery-img .text-box h3 {
        padding: 111px 50px;
    }
    .contact .titlepage h2::after {
        left: -650px;
        width: 30%;
    }
    .sporrt_text {
        margin-top: 0px;
    }
    #main_slider a.carousel-control-prev {
        display: none;
    }
    #main_slider a.carousel-control-next {
        display: none;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.4rem;
        font-size: 16px;
        color: #ffffff;
    }
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-top: 0px;
    }
    .logo {
        left: 0px;
    }
    .menu_text li {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 16px;
        padding-top: 7px;
    }
    .toggle_menu {
        left: 60px;
    }
    .building_text {
        font-size: 60px;
    }
    .construction_text {
        font-size: 24px;
    }
    .lorem_text {
        font-size: 14px;
    }
    .contact_bt {
        display: none;
    }
    .get_bt {
        display: none;
    }
    .number_text {
        display: none;
    }
    .line {
        display: none;
    }
    .round {
        display: none;
    }
    .taital_main {
        margin-top: 65px;
    }
    #carouselExampleIndicators a.carousel-control-prev {
        left: 35px;
        top: 110px;
    }
    #carouselExampleIndicators a.carousel-control-next {
        left: 35px;
        top: 210px;
    }
    .about_taital {
        width: 95%;
        margin-top: 50px;
    }
    .about_bt {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .our_text {
        width: 32%;
    }
    .project_section {
        padding-bottom: 45px;
    }
    .client_lorem_text {
        left: 85px;
    }
    .henrry_taital {
        font-size: 16px;
    }
    .contact_bg {
        width: 95%;
        float: right;
    }
    .newsletter_text {
        width: 96%;
        padding-left: 0px;
    }
    .mb-3,
    .my-3 {
        width: 96%;
    }
    .addres_text {
        width: 12%;
        font-size: 30px;
    }
    .map_text {
        font-size: 14px;
    }
    .social_icon {
        width: 25%;
    }
    .copyright_text {
        margin-left: 0px;
    }
    .fact_text {
        font-size: 14px;
    }
    .about_bt a {
        margin-top: 0px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .main-menu ul>li a {
        padding: 7px 6px;
    }
    .main-menu ul>li a {
        font-size: 14px;
    }
    .banner-main .carousel-caption h1 {
        font-size: 36px;
        padding-top: 0px;
    }
    .banner-main .carousel-caption p {
        margin-bottom: 7px;
        display: none;
    }
    .main {
        width: 15%;
    }
    .info_icon {
        min-width: 10%;
    }
    #main_slider a.carousel-control-prev {
        display: none;
    }
    .btn_main {
        margin-top: 58px;
        width: 65%;
    }
    #main_slider a.carousel-control-next {
        display: none;
    }
    .sporrt_text {
        margin-top: 0px;
        font-size: 24px;
    }
    .email_btn {
        padding: 41px;
    }
    .btn-primary {
        max-width: 144px;
    }
    .titlepage h2::after {
        width: 79%;
    }
    .about-box .titlepage h2::after {
        width: 73%;
        right: -88px;
    }
    .contact .titlepage h2::after {
        left: -403px;
        width: 41%;
    }
    .paddimg-right {
        padding-right: 15px;
    }
    .paddimg-left {
        padding-left: 15px;
    }
    .logo {
        left: 0px;
    }
    .menu_text li {
        display: none;
    }
    .toggle_menu {
        left: 460px;
    }
    .construction_text {
        font-size: 24px;
    }
    .building_text {
        font-size: 50px;
    }
    .lorem_text {
        font-size: 13px;
    }
    .taital_main {
        margin-top: 20px;
    }
    .contact_bt {
        display: none;
    }
    .get_bt {
        display: none;
    }
    .number_text {
        display: none;
    }
    .line {
        display: none;
    }
    .round {
        display: none;
    }
    #carouselExampleIndicators a.carousel-control-prev {
        left: 8px;
        top: 80px;
    }
    #carouselExampleIndicators a.carousel-control-next {
        left: 8px;
        top: 150px;
    }
    .about_taital {
        width: 93%;
        margin-top: 20px;
    }
    .about_text {
        font-size: 34px;
    }
    .long_text {
        font-size: 12px;
        margin-top: 0px;
    }
    .about_bt {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .our_text {
        width: 42%;
    }
    .seemore_bt {
        width: 60%;
    }
    .partner_text {
        font-size: 40px;
    }
    .lorem_ipsum_text {
        width: 80%;
        font-size: 14px;
    }
    .choose_bt {
        width: 27%;
    }
    .project_section {
        background-repeat: no-repeat;
    }
    .client_img {
        text-align: center;
    }
    .clients_section {
        background-size: cover;
    }
    .client_lorem_text {
        width: 88%;
        left: 70px;
        top: -150px;
    }
    .contact_bg {
        width: 100%;
        float: left;
    }
    .send_bt {
        width: 37%;
    }
    .newsletter_text {
        padding-left: 0px;
    }
    .mb-3,
    .my-3 {
        width: 94%;
    }
    .addres_text {
        width: 15%;
        font-size: 30px;
    }
    .social_icon {
        width: 27%;
    }
    .copyright_text {
        margin-left: 0px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .last {
        display: none;
    }
    .banner-main .carousel-caption {
        top: 0%;
    }
    .titlepage h2 {
        font-size: 42px;
        display: block;
    }
    #main_slider a.carousel-control-prev {
        position: absolute;
        left: 25%;
        top: 64%;
        display: none;
    }
    .btn_main {
        margin-top: 58px;
        width: 80%;
    }
    #main_slider a.carousel-control-next {
        position: absolute;
        left: 50px;
        top: 64%;
        display: none;
    }
    .btn-primary {
        margin-top: 0px;
        margin-left: -7px;
    }
    .menu_main {
        width: 95%;
    }
    .banner-main .carousel-caption h1 {
        font-size: 50px;
    }
    .titlepage h2::after {
        width: 88%;
    }
    .about-box .titlepage h2::after {
        width: 45%;
        right: -281px;
    }
    .sporrt_text {
        margin-top: 0px;
    }
    .Nursery-img .text-box h3 {
        font-size: 36px;
        padding: 126px 40px;
    }
    .main {
        width: 20%;
    }
    .contact .titlepage h2::after {
        left: -234px;
        width: 55%;
    }
    .logo {
        position: inherit;
        left: 0px;
    }
    .menu_text li {
        display: none;
    }
    .toggle_menu {
        top: -57px;
        left: 460px;
    }
    .round {
        display: none;
    }
    .line {
        display: none;
    }
    .number_text {
        display: none;
    }
    .menu_text {
        height: 10px;
    }
    .building_text {
        font-size: 54px;
    }
    .construction_text {
        font-size: 26px;
    }
    .taital_main {
        margin-top: 50px;
    }
    .lorem_text {
        display: none;
    }
    .contact_bt {
        display: none;
    }
    .get_bt {
        display: none;
    }
    #carouselExampleIndicators a.carousel-control-prev {
        left: 0%;
        top: 25px;
    }
    #carouselExampleIndicators a.carousel-control-next {
        left: 0px;
        top: 125px;
    }
    .about_taital {
        width: 96%;
        float: right;
        margin-top: 50px;
    }
    .long_text {
        font-size: 15px;
    }
    .about_bt {
        margin-bottom: 20px;
        margin-top: 0px;
    }
    .our_text {
        width: 60%;
    }
    .client_long_text {
        width: 100%;
        font-size: 14px;
        padding-top: 10px;
    }
    .bt_main {
        width: 50%;
    }
    .partner_text {
        font-size: 40px;
    }
    .project_section {
        padding-top: 20px;
        background-repeat: no-repeat;
    }
    .lorem_ipsum_text {
        width: 100%;
        font-size: 12px;
    }
    .choose_bt {
        width: 35%;
    }
    .client_lorem_text {
        width: 90%;
        font-size: 14px;
        left: 45px;
        padding-top: 30px;
    }
    .clients_section {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .henrry_text {
        font-size: 13px;
    }
    .client_img {
        text-align: center;
    }
    .contact_bg {
        width: 100%;
        float: left;
    }
    .send_bt {
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .newsletter_text {
        padding-left: 0px;
    }
    .mb-3,
    .my-3 {
        width: 100%;
    }
    .addres_text {
        width: 20%;
        font-size: 30px;
    }
    .map_text {
        font-size: 16px;
    }
    .map_icon {
        padding-top: 25px;
    }
    .social_icon {
        width: 37%;
    }
    .copyright_text {
        margin-left: 0px;
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    .last {
        display: none;
    }
    .carousel-caption {
        display: none;
    }
    .header {
        padding-top: 0px;
    }
    .logo {
        float: inherit;
        padding-bottom: 15px;
        text-align: center;
    }
    .btn-primary {
        max-width: 126px;
        margin-right: 2px;
        font-size: 14px;
    }
    .banner-main .carousel-caption h1 {
        font-size: 30px;
        line-height: 38px;
    }
    .titlepage h2 {
        font-size: 27px;
    }
    .sporrt_text {
        font-size: 23px;
        margin-top: 0px;
    }
    .main {
        width: 30%;
    }
    .btn_main {
        margin-top: 30px;
        padding-bottom: 30px;
        width: 55%;
    }
    #main_slider a.carousel-control-prev {
        position: absolute;
        left: 175px;
        top: 90%;
        display: none;
    }
    #main_slider a.carousel-control-next {
        position: absolute;
        left: 236px;
        top: 90%;
        display: none;
    }
    .titlepage h2::after {
        width: 93%;
    }
    .about-box .titlepage h2::after {
        width: 238px;
        right: -50px;
    }
    .Gallery .titlepage h2 {
        font-size: 47px;
    }
    .Gallery .titlepage h2::after {
        width: 89%;
    }
    .paddimg-right {
        padding-right: 15px;
    }
    .paddimg-left {
        padding-left: 15px;
    }
    .Nursery-img .text-box h3 {
        font-size: 23px;
        padding: 30px 14px;
    }
    .contact .titlepage h2::after {
        left: -8px;
        width: 281px;
    }
    .footer .headinga span {
        font-size: 16px;
    }
    .menu-bottom {
        margin-bottom: 45px;
    }
    ul.link li {
        padding: 8px 12px;
        padding-bottom: 0px;
    }
    .logo {
        position: inherit;
        left: -40px;
    }
    .round {
        display: none;
    }
    .line {
        display: none;
    }
    .number_text {
        display: none;
    }
    .building_text {
        display: none;
    }
    .menu_text li {
        display: none;
    }
    .toggle_menu {
        top: -68px;
        position: relative;
        left: 240px;
    }
    .menu_text {
        height: 0px;
    }
    .construction_text {
        font-size: 30px;
    }
    .lorem_text {
        display: none;
    }
    .taital_main {
        margin-top: 30px;
    }
    .contact_bt {
        display: none;
    }
    .get_bt {
        display: none;
    }
    #carouselExampleIndicators a.carousel-control-prev {
        left: -2%;
        top: 225px;
    }
    #carouselExampleIndicators a.carousel-control-next {
        left: 0%;
        top: 300px;
    }
    .about_taital {
        width: 95%;
        margin-top: 30px;
    }
    .about_text {
        font-size: 30px;
    }
    .long_text {
        font-size: 14px;
    }
    .about_bt {
        width: 50%;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .our_text {
        width: 75%;
        font-size: 30px;
    }
    .client_long_text {
        width: 100%;
        font-size: 16px;
    }
    .bt_main {
        width: 45%;
    }
    .seemore_bt {
        width: 100%;
    }
    .partner_text {
        font-size: 29px;
    }
    .lorem_ipsum_text {
        width: 100%;
        font-size: 15px;
    }
    .choose_bt {
        width: 65%;
    }
    .project_section {
        background-size: cover;
    }
    .clients_section {
        height: auto;
        background-size: cover;
    }
    .client_img {
        text-align: center;
    }
    .client_lorem_text {
        width: 100%;
        font-size: 16px;
        color: #000;
        position: inherit;
        top: 0px;
        left: 0px;
    }
    .img_5 {
        display: none;
    }
    .contact_bg {
        width: 100%;
        float: left;
    }
    .request_text {
        font-size: 26px;
    }
    .send_bt {
        width: 40%;
        margin-bottom: 20px;
    }
    .newsletter_text {
        padding-left: 0px;
    }
    .mb-3,
    .my-3 {
        width: 100%;
    }
    .addres_text {
        width: 35%;
        font-size: 30px;
    }
    .map_text {
        font-size: 14px;
    }
    .social_icon {
        width: 60%;
    }
    .copyright_text {
        margin-left: 0px;
        font-size: 14px;
    }
}